﻿h1 {
    width: 50%;
    margin: auto;
    text-align: center;
}

h2{
    margin: auto;
}

#messageInfo {
    width: auto;
    background-color: #09F;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: x-large;
}

.encours {
    background-color: #F00 !important;
}

.termine {
    background-color: #397739 !important;
}

#container {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    margin: 10px 0px;
    padding: 10px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 1px solid #333;
    border-radius: 10px;
}

.card>.head,
.card>.footer {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color:#FFF;
    padding: 10px 0px;
}

.card>.head{
    border-radius: 10px 10px 0 0; 
    background-color: #999;
}

.card>.footer{
    border-radius: 0 0 10px 10px;    
    background-color: rgba(99, 99, 99, 0.25);
    font-size: 1rem;
    color: #333;
}

.card>.body {
    display: none;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

label.titre{
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.card>input {
    position: absolute;
    width: 100%;
    z-index: 5;
    display: none;
}

.card>input:checked~.body {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
}

.cardAttribut{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 160px;
    height: 100px;
    border-radius: 5px;
    margin: 5px;
    border: 1px #333 solid;
}

.cardAttribut>label{
    width: 100%;
    background-color: #999;
    color:#FFF;
    text-align: center;
    padding: 5px 0px;
}

p,a {
    margin: auto;
    text-align: center;
}

svg{
    width: 32px;
}

input[type='file']{
    display: 150px;
    padding: 0px 5px;
}


input[type='file']::file-selector-button{
    display: none;
}

#search{
    display: flex;
    align-items: center;    
}